@CHARSET "ISO-8859-1";

body.index_layout {
	background-color: #3A7FA5;
	color: #FFF;
}

nav > li > a {
	text-align: center;
}

.sign_in, .sign_up {
    margin: 5em 1em;
    padding: 3em;
    background-color: rgba(44, 44, 44, 0.42);
    text-align: center;
}
.input-group {
    border-radius: 0px;
}
.input-group > span {
    border-color: transparent;
    border-radius: 0px;
    color: rgba(3, 76, 145, 0.43);
}
.input-group > input {
    background-color: rgba(255, 255, 255, 0.17);
    border: 0px solid transparent;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 0.2em;
}
.input-group-addon {
    background-color: rgba(255, 255, 255, 0.17);
}
.sign_in_button {
    border-radius: 0;
    padding: 0.5em 1em;
}

.form-control:focus {
   border: 0px;
   box-shadow: none;
}

.form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }